{% extends layout %}

{% block content %}
  <div class="container-fluid">
    <div class="hero-unit">
      <h1>Welcome Momonga XOOPS!</h1>
    </div>
  </div>

  <div class="container-fluid">
    {% if errors %}
      <div class="row-fluid">
        {% if errors.php_version %}
          PHPのバージョンが古いです。
          <hr />
        {% endif %}


        {% if errors.permission %}
          <ul>
            {% for error_file in errors.permission %}
              <li>{{ error_file }}</li>
            {% endfor %}
          </ul>

          <textarea style="width: 500px; height: 300px;">
          chmod 777 {{ errors.permission|join(' ') }}
          </textarea>
          <hr />
        {% endif %}
      </div>
    {% else %}
      <div class="row-fluid">
        <div class="span8 offset2">
          <form class="form-horizontal" method="post" action="{{ base }}/index.php/step2">

            <div class="control-group">
              <label class="control-label" for="input_db_host">データベースのホスト名</label>
              <div class="controls">
                <input id="input_db_host" type="text" name="db_host" value="localhost" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input_db_user">データベースユーザ名</label>
              <div class="controls">
                <input id="input_db_user" type="text" name="db_user" value="root" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input_db_password">データベースパスワード</label>
              <div class="controls">
                <input id="input_db_password" type="text" name="db_password" value="" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input_db_name">データベース名</label>
              <div class="controls">
                <input id="input_db_name" type="text" name="db_name" value="momonga" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input_db_prefix">テーブル接頭語</label>
              <div class="controls">
                <input id="input_db_prefix" type="text" name="db_prefix" value="momonga" />
              </div>
            </div>

            <hr>

            <div class="control-group">
              <label class="control-label" for="input_xoops_url">Momonga XOOPSのURL</label>
              <div class="controls">
                <input class="input-xxlarge" id="input_xoops_url" type="text" name="xoops_url" value="{{ xoops_url }}" />
              </div>
            </div>

            <hr>

            <div class="control-group">
              <label class="control-label" for="input_admin_uname">管理者ユーザ名</label>
              <div class="controls">
                <input id="input_admin_uname" type="text" name="admin_uname" value="" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input_admin_email">管理者メールアドレス</label>
              <div class="controls">
                <input class="input-xxlarge" id="input_admin_email" type="text" name="admin_email" value="" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input_admin_password">管理者パスワード</label>
              <div class="controls">
                <input id="input_admin_password" type="password" name="admin_password" value="" />
                <input id="input_admin_password_confirm" type="password" name="admin_password_confirm" value="" />
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">インストール</button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
